
body {
  margin: 0;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, rgb(1, 1, 4), rgb(5, 5, 103));
  color: white;

}

img {
  display: block;
  margin-bottom: 20px;
}

.top-right {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 14px;
  font-weight: bold;
}


.subtitle {
  max-width: 600px;
  margin-top: 80px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

p {
  max-width: 700px;
  line-height: 1.6;
  margin-bottom: 20px;
}

img[alt="My profile picture"] {
  margin-top: 20px;
  border-radius: 8px;
}


ul {
  margin-left: 20px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 6px;
}

button {
  background-color: rgb(52, 50, 201);
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 5px 5px 5px 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  
}

button:hover {
     background-color: rgb(30, 28, 128);
    cursor: pointer;
    animation-delay: 5ms;
    
  }
a {
  text-decoration: none;
}


.container {
  display: flex;
  column-gap: 20px;
 
}
